    <!-- navbar  -->
            <nav class="flex flex-row width-80 mx-auto mt-2">
                 
               <div class="flex flex-row justify-between w-full items-center">

              

                 <!-- لوگو -->
                <a href="/index.html"> <div class="flex flex-row items-center">
                    <h2>Lasles<span class="font-bold">vpn</span></h2>
                    <img src="/assets/icons/eos-(eos).svg" alt="logo-icon" class=" w-6">
                </div></a>

                   <!-- آپشن ها  -->
                <div class="hidden sm:flex sm:flex-row">
                    <ul class="flex flex-row gap-10 ">
                        <li><a href="" class="no-underline hover:text-red-500">کمک</a></li>
                        <li><a href="" class="no-underline hover:text-red-500">گواهینامه</a></li>
                        <li><a href="" class="no-underline hover:text-red-500">قیمت گذاری</a></li>
                        <li><a href="" class="no-underline hover:text-red-500">ویژگی ها</a></li>
                        <li><a href="/pages/posts/blog.html" class="no-underline hover:text-red-500">بلاگ ها</a></li>
                    </ul>
                </div>
            
                 
                <!-- hamburger icon -->
                <div class="m-4 flex sm:hidden">
                    <img src="./assets/icons/menu-burger-horizontal-svgrepo-com.svg" alt="hamburger-icon" class="h-5 w-5">
                </div>


                  <!-- صفحه ثبت نام -->
                <div class="hidden sm:flex gap-5 p-2">
                    <button class="btn-card">ثبت نام کنید</button>
                    <button>وارد شوید </button>
                </div>
               
               </div>
              
            </nav>