<br>
<div class="flex flex-col">
    <!-- بخش لوگو -->
    <div class="flex flex-row mb-5 justify-center">
        <h2>Lasles<span class="font-bold">vpn</span></h2>
                    <img src="/assets/icons/eos-(eos).svg" alt="logo-icon" class=" w-6">
    </div>
    <!-- توضیحات -->
    <div class="flex flex-col py-5 bg-gray-300">
        <p class="text-center text-wrap">این کمپانی به شما این امکان را میدهد که بتوانبد <br> بهترین و بالاترین کیفیت را در کمترین زمان ممکن داشته باشید </p>
    </div>
    <!-- اسپانسر ها -->
    <div class="flex flex-row justify-center gap-5 bg-gray-300">
        <img src="./assets/icons/Frame 11.svg" alt="sponser-icon">
        <img src="./assets/icons/Frame 22 (1).svg" alt="sponser-icon">
        <img src="./assets/icons/Frame 33.svg" alt="sponser-icon">
    </div>
   </div>