@import "tailwindcss";
/* my customed styles */

:root {
  --main-color: #F53838;
  --secondary-color: #1E90FF;
}

@layer base {
    .btn-card{
        border-radius: 15px;
        border:2px solid var(--main-color);
        color: var(--main-color);
        
    }
    .btn-card-red{
      background-color: var(--main-color);
       border:2px solid var(--main-color);
       width: 40%;
       border-radius: 10px;
    }
    .width-80{
      width: 80%;
    }
    .width-40{
      width: 40%;
    }
     .btn-card-red-sub{
      background-color: var(--main-color);
       border:2px solid var(--main-color);
       border-radius: 10px;
    }

}